/* 標籤的基本樣式 */
body {
    letter-spacing: 0.02em;

}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    color: inherit;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-20 {
    font-size: 1.25rem;
}

.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;

}