<div class="container py-10">
  <div class="bg-primary rounded-4 py-lg-5 py-4 px-lg-6 px-5">
    <div class="border-bottom-white mb-lg-5 mb-4">
      <img src="/assets/images/logo-icon-w.svg" alt="logo" class="mb-5" />
      <h3 class="fs-3 fs-lg-2 text-white fw-bold mb-3">
        邁向你真正想過的生活，從這裡開始
      </h3>
      <p class="fs-6 fs-lg-5 text-white mb-4 fw-normal">
        第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
      </p>
    </div>
    <div class="d-flex flex-lg-row flex-column align-items-start">
      <div class="d-flex flex-lg-row flex-column text-white">
        <p class="me-lg-5 mb-4 mb-lg-0 fs-lg-20 fs-5 fw-medium">
            <a href="tel:0800-123-123">
          <span class="material-symbols-outlined fs-4 me-2 align-bottom">
            call </span
          >0800-123-123
        </p></a>
        <a href="mailto:Sample@mail.com">
        <p class="fs-lg-20 fs-5 fw-medium mb-5 mb-lg-0 fs-4">
          <span class="material-symbols-outlined fs-4 me-2 align-bottom">
            mail </span
          >Sample@mail.com
        </p></a>
      </div>
      <button
        type="button"
        class="btn btn-dark fs-14 fs-lg-16 ms-0 ms-lg-auto w-auto py-3"
      >
        預約免費職涯探索
        <span class="material-symbols-outlined align-middle ms-1 fs-20">
          chevron_right
        </span>
      </button>
    </div>
  </div>
</div>
