.story-logo {
  width: 48px;
  height: 42px;

  @include media-breakpoint-up(lg) {
    width: 96px;
    height: 84px;
  }
}

.bg-ball {
  background-image: url(../assets/images/index/gradient-ball.png);
  background-size: 560px;
  background-repeat: no-repeat;


  @include media-breakpoint-up(lg) {
    background-size: 800px;
  }
}

.bg-ball-center {
  background-position: center 40px;
}

.bg-ball-right {
  background-position: calc(100% + 180px) 80px;

  @include media-breakpoint-up(lg) {
    background-position: calc(100% + 172px) 208px;
  }
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #141a1f80;
  inset: 0;
}





.work-hover:hover .overlay {
  opacity: 1;
}

.object-fit-cover {
  object-fit: cover;
}

.work-hover-tag {
  border-top-right-radius: 12px;

}

.workway-vectors {
  top: 0px;
  right: 2.5px;
}