.overlay {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #141a1f80;
  inset: 0;
}


.work-hover:hover .overlay {
  opacity: 1;
}

.object-fit-cover {
  object-fit: cover;
}

.work-hover-tag {
  border-top-right-radius: 12px;
}

.workway-vectors {
  top: -68px;
  right: 2.5px;
}

.workway-line {
  border-bottom: 1px solid $natural-85;
}