.tab-btn-bg {
    .nav-link {
        background-color: $white;
    }
}


.left-width {
    width: auto;
}

.personal-img {
    width: 120px;
}

@media (min-width: 992px) {
    .left-width {
        width: 300px;
    }

}