.bg-gray{
    background: #F0F3F5;
    
}
.main-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.rounded-panel{
    border-radius: 24px;
    background-color: #FCFCFD;
}
.text-blue{
    color: #4A69E8;
}
.subtitle{
    color: #667F99;
    font-size: 18px;
}
    .left-width{
    width: 300px;
}

.personal-img{
    width: 120px;
}
