
.tab-btn-bg {
    .nav-link {
        background-color: $white;
    }
}

/*左欄寬度*/
.left-width {
    width: auto;
}
/*個人資料頭貼*/
.personal-img {
    width: 120px;
}

@include media-breakpoint-up(lg) {
    .left-width {
        width: 300px;
    }

}

/*更新密碼視窗*/
.modal-fixed-480 {
  max-width: 480px;
  width: calc(100% - 3rem);
}

@include media-breakpoint-up(lg) {
  .modal-fixed-480 {
    width: 100%;
  }
}