<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/scss/all.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


  <title>-職旅</title>
</head>

<body>
  <%- include('./layout/navbar-user'); -%>

    <header class="pt-lg-7 pt-6 text-center bg-ball bg-ball-center">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-lg-8 mb-lg-5 mb-4">
            <h1 class="fs-lg-80 fs-2 fw-bold">一起陪伴、探索<br>還有你那些未完成的夢</h1>
          </div>
          <div class="col-lg-8">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center  mb-10">
              <div class="text-lg-start text-center text-natural-50 mb-4 mb-lg-0 fw-normal">
                <h5 class="mb-lg-2 mb-0">自由工作很美，也很難。</h5>
                <h5>我們用 1 對 1 陪伴，陪你從第一步開始，直到夢想變成日常</h5>
              </div>
              <button type="button"
                class="btn btn-secondary fs-lg-4 fs-20 fw-bold  d-flex  align-items-center">開始你的職旅<span
                  class="material-symbols-outlined align-middle ms-1 fs-3" style="line-height: 1;">
                  chevron_right
                </span></button>
            </div>
          </div>
        </div>

      </div>

    </header>
    <main>
      <div class="container-fluid pb-lg-7 pb-6  mb-lg-7 mb-6">
        <div class="row">
          <div class="col-4 d-none d-lg-block"><img src="../assets/images/index/hero-1.png" alt="hero-1"
              class="object-fit-cover h-100"></div>
          <div class="col-4 d-none d-lg-block">
            <div>
              <img src="../assets/images/index/hero-2.png" alt="hero-2" class="mb-5 ">
              <img src="../assets/images/index/hero-3.png" alt="hero-3">
            </div>
          </div>
          <div class="col-lg-4"><img src="../assets/images/index/hero-4.png" alt="hero-4"
              class="object-fit-cover h-100">
          </div>
        </div>
      </div>
      <div class="bg-gray-linear">
        <div class="container pb-lg-7 pb-6">
          <div class="row align-items-center flex-column flex-lg-row">
            <div class="col-lg-4 mb-5 mb-lg-0 ">
              <img src="../assets/images/logo-icon.svg" alt="logo" class="mb-lg-5 mb-4 story-logo">
              <h2 class="mb-lg-5 mb-4 fs-2 fs-lg-1 fw-bold">他們已經踏上職旅<br>聽聽他們的故事</h2>
              <p class="fs-lg-5 text-natural-50">每一段職涯轉型都有獨特挑戰，這些曾經與你有相同疑惑的夥伴，現在正過著他們嚮往的生活</p>
            </div>
            <div class="col-lg-8 myswiper">
              <div class="swiper mySwiper mb-3 px-3">
                <div class="swiper-wrapper">
                  <div class="swiper-slide overflow-hidden shadow rounded-4 d-flex flex-column">

                    <div class="horn">
                      <span class="bg-primary text-white rounded-4 position-absolute py-2 px-4 m-3 fs-14 fs-lg-6">數位遊牧 2
                        年</span><img src="../assets/images/index/story-cover-1.png" class="mb-3" alt="郭敏迪">
                    </div>
                    <div class=" px-4 pt-4 pb-5 d-flex flex-column flex-grow-1">
                      <h3 class="fs-lg-4 fs-20 fw-bold mb-4">轉型成功的設計師</h3>
                      <p class="mb-4 text-natural-50">
                        從企業設計師轉職自由接案，比我想的難太多。收入不穩時我幾乎想放棄，是職旅顧問幫我找回方向與差異化。半年後，我不僅維持收入，還能自由挑案，最重要的是，我終於有時間陪爸媽。</p>
                      <div class="d-flex mt-auto align-items-center">
                        <h4 class="fw-bold pe-2 fs-lg-6 fs-14">視覺設計師</h4>
                        <p class="border-start ps-2 fs-14">郭敏迪 (34y)</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide overflow-hidden shadow rounded-4  d-flex flex-column">
                    <div class="horn"> <span
                        class="bg-primary text-white rounded-4 position-absolute py-2 px-4 m-3 fs-14 fs-lg-6">數位遊牧 2
                        年</span>
                      <img src="../assets/images/index/story-cover-2.png" class="mb-3" alt="張世明">
                    </div>
                    <div class=" px-4 pt-4 pb-5  d-flex flex-column flex-grow-1">
                      <h3 class="fs-lg-4 fs-20 fw-bold mb-4">數位遊牧生活實踐者</h3>
                      <p class="mb-4 text-natural-50">
                        兩年前我只想環遊世界，卻不知道怎麼開始。職旅給了我遠端工作與生活規劃的指導。現在我在五個國家工作過，收入比以前多 20%。每次打開電腦，看見窗外不同的風景，都慶幸當初那一個決定。</p>
                      <div class="d-flex mt-auto align-items-center">
                        <h4 class="fw-bold pe-2 fs-lg-6 fs-14">內容策略師</h4>
                        <p class="border-start ps-2 fs-14">林雨潔 (29y)</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide overflow-hidden shadow rounded-4  d-flex flex-column">
                    <div class="horn">
                      <span class="bg-primary text-white rounded-4 position-absolute py-2 px-4 m-3 fs-14 fs-lg-6">數位遊牧 3
                        年</span>
                      <img src="../assets/images/index/story-cover-3.png" class="mb-3" alt="張世明">
                    </div>
                    <div class=" px-4 pt-4 pb-5  d-flex flex-column flex-grow-1">
                      <h3 class="fs-lg-4 fs-20 fw-bold mb-4">中年轉型的工程師</h3>
                      <p class="mb-4 text-natural-50">
                        59歲被裁員時，我以為職涯結束了。職旅顧問不只幫我轉職，更讓我相信自己還有價值。現在我每月穩定接案、收入翻倍。年齡不是限制，只是我還沒找到對的方向。</p>
                      <div class="d-flex mt-auto align-items-center">
                        <h4 class="fw-bold pe-2 fs-lg-6 fs-14">系統架構顧問</h4>
                        <p class="border-start ps-2 fs-14">張世明 (62y)</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide overflow-hidden shadow rounded-4 d-flex flex-column">
                    <div class="horn">
                      <span class="bg-primary text-white rounded-4 position-absolute py-2 px-4 m-3 fs-14 fs-lg-6">數位遊牧 2
                        年</span>
                      <img src="../assets/images/index/story-cover-4.png" class="mb-3" alt="郭敏迪">
                    </div>
                    <div class=" px-4 pt-4 pb-5 d-flex flex-column flex-grow-1">
                      <h3 class="fs-lg-4 fs-20 fw-bold mb-4">轉型成功的設計師</h3>
                      <p class="mb-4 text-natural-50">
                        從企業設計師轉職自由接案，比我想的難太多。收入不穩時我幾乎想放棄，是職旅顧問幫我找回方向與差異化。半年後，我不僅維持收入，還能自由挑案，最重要的是，我終於有時間陪爸媽。</p>
                      <div class="d-flex mt-auto align-items-center">
                        <h4 class="fw-bold pe-2 fs-lg-6 fs-14">視覺設計師</h4>
                        <p class="border-start ps-2 fs-14">郭敏迪 (34y)</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide overflow-hidden shadow rounded-4 d-flex flex-column">
                    <div class="horn"> <span
                        class="bg-primary text-white rounded-4 position-absolute py-2 px-4 m-3 fs-14 fs-lg-6">數位遊牧 2
                        年</span>
                      <img src="../assets/images/index/story-cover-5.png" class="mb-3" alt="郭敏迪">
                    </div>
                    <div class=" px-4 pt-4 pb-5 d-flex flex-column flex-grow-1">
                      <h3 class="fs-lg-4 fs-20 fw-bold mb-4">轉型成功的設計師</h3>
                      <p class="mb-4 text-natural-50">
                        從企業設計師轉職自由接案，比我想的難太多。收入不穩時我幾乎想放棄，是職旅顧問幫我找回方向與差異化。半年後，我不僅維持收入，還能自由挑案，最重要的是，我終於有時間陪爸媽。</p>
                      <div class="d-flex mt-auto align-items-center">
                        <h4 class="fw-bold pe-2 fs-lg-6 fs-14">視覺設計師</h4>
                        <p class="border-start ps-2 fs-14">郭敏迪 (34y)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--選擇職旅 WorkWay-->
      <div class=" bg-natural-95 mb-lg-7 mb-6">
        <div class="container py-lg-7 py-6">
          <div class=" position-relative mb-lg-6 mb-5">
            <div class=" d-flex justify-content-center mb-1">
              <div class="d-inline-block text-primary position-relative" style="width: 120px; height: 64px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="64" viewBox="0 0 120 64" role="img"
                  aria-label="為什麼？">
                  <path d="
      M12 6
      H108
      a8 10 0 0 1 8 10 
      V42
      a8 10 0 0 1 -8 10 
      H66  
      L60 60
    L54 52 
      H12
      a8 10 0 0 1 -8 -10 
      V16
      a8 10 0 0 1 8 -10 
      Z
    " fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
                </svg>

                <div class="position-absolute top-40 start-50 translate-middle text-center w-75 fw-bold"
                  style="pointer-events:none; user-select:none; top: 45%; transform: translate(-50%, -50%); font-size: 20px;">
                  為什麼？
                </div>
              </div>
            </div>

            <h2 class="text-center fs-2 fs-lg-1 fw-bold mb-lg-6 mb-5">選擇職旅 WorkWay</h2>

            <div class="position-absolute workway-vectors d-none d-lg-block">
              <img src="../assets/images/index/adv-vectors.svg" alt="adv-3">
            </div>

            <div class="row">
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class=" work-hover overflow-hidden rounded">
                  <div class="position-relative">
                    <img src="../assets/images/index/adv-3.png" alt="實戰經驗" class="img-fluid">
                    <div class="overlay d-flex align-items-center text-white p-5 text-center">
                      我們的顧問都是親身走過這條路的專家，不是紙上談兵的理論家。你所學到的每一個建議，都是經過無數次嘗試與錯誤後萃取的精華。
                    </div>
                    <div
                      class="position-absolute bottom-0 ps-3 pe-5 py-3 bg-natural-95 text-natural-50 fs-lg-4 fs-20 fw-bold work-hover-tag">
                      <span class="material-symbols-outlined text-primary icon fs-4 pe-2 align-bottom">
                        ads_click
                      </span>
                      實戰經驗
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-5 mb-lg-0">
                <div class=" work-hover overflow-hidden rounded">
                  <div class="position-relative">
                    <img src="../assets/images/index/adv-2.png" alt="實戰經驗" class="img-fluid">
                    <div class="overlay d-flex align-items-center text-white p-5 text-center">
                      從心態調整到實際操作，從品牌建立到財務規劃，我們提供你轉型路上需要的每一塊拼圖，讓不確定感不再阻礙你的決定。
                    </div>
                    <div
                      class="position-absolute bottom-0 ps-3 pe-5 py-3 bg-natural-95 text-natural-50 fs-4 fw-bold work-hover-tag">
                      <span class="material-symbols-outlined text-primary icon fs-4 pe-2">
                        ads_click
                      </span>
                      全方位支持
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 ">
                <div class=" work-hover overflow-hidden rounded">
                  <div class="position-relative">
                    <img src="../assets/images/index/adv-3.png" alt="實戰經驗" class="img-fluid">
                    <div class="overlay d-flex align-items-center text-white p-5 text-center">
                      加入職旅不只是獲得諮詢，更是連結到一群志同道合的夥伴。在這裡，你的疑惑有人解答，你的成就有人分享，你的旅程不再孤單。
                    </div>
                    <div
                      class="position-absolute bottom-0 ps-3 pe-5 py-3 bg-natural-95 text-natural-50 fs-4 fw-bold work-hover-tag ps-5">
                      <span class="material-symbols-outlined text-primary icon fs-4 pe-2">
                        ads_click
                      </span>
                      社群力量
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center text-natural-50 fw-medium fs-14 fs-lg-6">
            <p>不是套模板的建議，而是為你量身打造的陪伴！</p>
            <div class="flex-grow-1 ms-3 border-bottom" style="height: 2px;"></div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <!--遇見你的職涯夥伴-->
      <div class=" bg-ball bg-ball-right pb-lg-7 pb-6">
        <div class="container ">
          <div class="row flex-column flex-lg-row">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <img src="../assets/images/index/team.png" alt="team" class="rounded-2">
            </div>
            <div class="col-lg-6">
              <div class="px-3 text-center text-lg-start ">
                <h2 class="fs-2 mb-4 mb-lg-4 fw-bold">遇見你的職涯夥伴</h2>
                <p class="text-natural-50 mb-4 mb-lg-4 fs-lg-5 text-start">每位顧問都有獨特專長，更重要的是：</p>
                <h3 class="fs-20 fs-lg-4 fw-bold text-primary bg-natural-95 p-2 mb-4 mb-lg-4 d-inline-block">
                  “
                  他們都曾面對你正在經歷的挑戰 ”</h3>
                <p class="text-natural-50 mb-4 mb-lg-4 fs-lg-5 text-start">職旅 WorkWay
                  匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。我們的顧問不只教授理論，更分享親身經歷的挑戰與解決之道。</p>
                <p class="text-natural-50 mb-4 mb-lg-4 fs-lg-5 text-start">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
              </div>
              <div class="text-center text-lg-start">
                <button type="button"
                  class="btn btn-dark rounded-2 d-flex  align-items-center mx-auto mx-lg-0">了解更多職旅夥伴<span
                    class="material-symbols-outlined align-middle ms-1 fs-20">
                    chevron_right
                  </span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--服務流程-->
      <div class="bg-primary">
        <div class="container py-md-7 py-6">
          <h2 class="fs-2 fs-md-1 text-white text-center mb-4 mb-md-5 fw-bold">服務流程</h2>
          <p class="fs-6 fs-md-5 text-white mb-5 mb-md-6 text-center">簡單四步，踏上你的職旅</p>
          <div class="swiper serveSwiper ">
            <div class="swiper-wrapper">
              <!--免費註冊會員-->
              <div class="swiper-slide">
                <div class="card overflow-hidden position-relative">
                  <span class="bg-natural-95 text-primary position-absolute top-0 start-0 py-2 px-4 fw-bold fs-14"
                    style="border-bottom-right-radius:12px">
                    STEP <span class="ms-1 fs-md-5 fs-6">1</span></span>
                  <img src="/assets/images/index/serve-1.svg" class="card-img-top" alt="免費註冊會員"
                    style="padding:64px 73px 16px;">
                  <div class="card-body text-center py-0 px-5">
                    <h5 class="card-title mb-4 mb-md-5 fs-20 fs-md-4 fw-bold">免費註冊會員</h5>
                    <p class="card-text mb-6 text-natural-50 text-center">透過網站左上角按鈕，立即註冊免費會員，與我們開始建立連結。</p>
                  </div>
                </div>
              </div>
              <!--填寫職旅計劃-->
              <div class="swiper-slide">
                <div class="card overflow-hidden position-relative">
                  <span class="bg-natural-95 text-primary position-absolute top-0 start-0 py-2 px-4 fw-bold fs-14"
                    style="border-bottom-right-radius:12px">
                    STEP <span class="ms-1 fs-md-5 fs-6">2</span></span>
                  <img src="/assets/images/index/serve-2.svg" class="card-img-top" alt="填寫職旅計劃"
                    style="padding:64px 73px 16px;">
                  <div class="card-body text-center py-0 px-5">
                    <h5 class="card-title mb-4 mb-md-5 fs-20 fs-md-4 fw-bold">填寫職旅計劃</h5>
                    <p class="card-text mb-6 text-natural-50 text-center">了解你的技能、熱情與市場需求的交會點，找出屬於你的獨特定位。</p>
                  </div>
                </div>
              </div>
              <!--初次諮詢-->
              <div class="swiper-slide">
                <div class="card overflow-hidden position-relative">
                  <span class="bg-natural-95 text-primary position-absolute top-0 start-0 py-2 px-4 fw-bold fs-14"
                    style="border-bottom-right-radius:12px">
                    STEP <span class="ms-1 fs-md-5 fs-6">3</span></span>
                  <img src="/assets/images/index/serve-3.svg" class="card-img-top" alt="初次諮詢"
                    style="padding:64px 73px 16px;">
                  <div class="card-body text-center py-0 px-5">
                    <h5 class="card-title mb-4 mb-md-5 fs-20 fs-md-4 fw-bold">初次諮詢</h5>
                    <p class="card-text mb-6 text-natural-50 text-center">了解你的技能、熱情與市場需求的交會點，找出屬於你的獨特定位。</p>
                  </div>
                </div>
              </div>
              <!--實戰指導-->
              <div class="swiper-slide">
                <div class="card overflow-hidden position-relative">
                  <span class="bg-natural-95 text-primary position-absolute top-0 start-0 py-2 px-4 fw-bold fs-14"
                    style="border-bottom-right-radius:12px">
                    STEP <span class="ms-1 fs-md-5 fs-6">4</span></span>

                  <img src="/assets/images/index/serve-4.svg" class="card-img-top" alt="實戰指導"
                    style="padding:64px 73px 16px;">
                  <div class="card-body text-center py-0 px-5">
                    <h5 class="card-title mb-4 mb-md-5 fs-20 fs-md-4 fw-bold">實戰指導</h5>
                    <p class="card-text mb-6 text-natural-50 text-center">專家一對一指導，從品牌建立到客戶開發，每一步都有明確方向。</p>
                  </div>
                </div>
              </div>

            </div>
          </div>



        </div>
      </div>
      <!--你可能有些困惑-->
      <div style="background-image: url(/assets/images/index/bg-grid.png); background-repeat:repeat; ">
        <div class="container py-md-7 py-6">
          <div class=" d-flex justify-content-center mb-1">
            <div class="d-inline-block text-primary position-relative" style="width: 120px; height: 64px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="120" height="64" viewBox="0 0 120 64" role="img"
                aria-label="\ Q&A /">
                <path d="
      M12 6
      H108
      a8 10 0 0 1 8 10 
      V42
      a8 10 0 0 1 -8 10 
      H66  
      L60 60
    L54 52 
      H12
      a8 10 0 0 1 -8 -10 
      V16
      a8 10 0 0 1 8 -10 
      Z
    " fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
              </svg>

              <div class="position-absolute top-40 start-50 translate-middle text-center w-75 fw-bold"
                style="pointer-events:none; user-select:none; top: 45%; transform: translate(-50%, -50%); font-size: 20px;">
                \ Q&A /
              </div>
            </div>
          </div>

          <h2 class="text-center fs-2 fs-md-1 fw-bold mb-md-6 mb-5">你可能有些困惑...</h2>
          <div class="row">
            <div class="col-5 d-flex justify-content-star  d-none d-md-block">
              <img src="/assets/images/index/qa.svg" alt="你可能有些困惑">
            </div>
            <div class="col-md-7">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <!--QA1-->
                <div class="accordion-item mb-md-5 mb-4 overflow-hidden shadow">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button
                      class="accordion-button collapsed   fs-md-5 fs-6 fw-bold text-natural-50 d-flex align-items-md-center align-items-start"
                      type="button" data-bs-toggle="collapse" data-bs-target="#QA1"
                      aria-expanded="true" aria-controls="QA1">
                      <span class="me-2 fs-md-20 fs-5 lh-1">Q.</span>
                      <p>一對一諮詢是怎麼進行的？需要準備什麼嗎？</p>
                    </button>
                  </h2>
                  <div id="QA1" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                     
                    <div class="accordion-body p-5 pt-0">
                      <p class="border-top-dashed mb-4"></p>
                      <div class=" d-flex ">
                      <p class="fs-5 fs-md-20 text-primary fw-bold me-2 lh-1">A.</p>
                      <p class="fs-14">諮詢通常採 Google Meet 或 Zoom，時長約 30
                        分鐘。我們建議你在預約前先簡單整理目前的狀態、遇到的困難、或想達成的目標。如果你不確定，顧問也會從對話中引導你探索，無需擔心準備不夠。</p>
                    </div>
                      </div>
                  </div>
                </div>
                <!--QA2-->
                <div class="accordion-item mb-md-5 mb-4 overflow-hidden shadow">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button
                      class="accordion-button collapsed   fs-md-5 fs-6 fw-bold text-natural-50 d-flex align-items-md-center align-items-start"
                      type="button" data-bs-toggle="collapse" data-bs-target="#QA2"
                      aria-expanded="true" aria-controls="QA2">
                      <span class="me-2 fs-md-20 fs-5 lh-1">Q.</span>
                      <p>自由職涯真的可以養活自己嗎？你們怎麼協助？</p>
                    </button>
                  </h2>
                  <div id="QA2" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                     
                    <div class="accordion-body p-5 pt-0">
                      <p class="border-top-dashed mb-4"></p>
                      <div class=" d-flex ">
                      <p class="fs-5 fs-md-20 text-primary fw-bold me-2 lh-1">A.</p>
                      <p class="fs-14">自由職涯可以養活自己，但需要有策略與持續調整。WorkWay 顧問會根據你的專業、興趣、可投入時間，設計客製化的變現路徑，例如自由接案、產品化服務、遠端職位申請等，同時協助你管理初期財務風險，避免因壓力過大中途放棄。</p>
                    </div>
                      </div>
                  </div>
                </div>
                   <!--QA3-->
                <div class="accordion-item mb-md-5 mb-4 overflow-hidden shadow">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button
                      class="accordion-button collapsed   fs-md-5 fs-6 fw-bold text-natural-50 d-flex align-items-md-center align-items-start"
                      type="button" data-bs-toggle="collapse" data-bs-target="#QA3"
                      aria-expanded="true" aria-controls="QA3">
                      <span class="me-2 fs-md-20 fs-5 lh-1">Q.</span>
                      <p>職旅 WorkWay 的收費方式是怎麼計算的？</p>
                    </button>
                  </h2>
                  <div id="QA3" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                     
                    <div class="accordion-body p-5 pt-0">
                      <p class="border-top-dashed mb-4"></p>
                      <div class=" d-flex ">
                      <p class="fs-5 fs-md-20 text-primary fw-bold me-2 lh-1">A.</p>
                      <p class="fs-14">我們提供單次諮詢、短期方案（例如 3 次輔導包）、或專案長期陪跑計畫。每種方案都標示清楚金額與包含內容，無強制綁約或推銷額外商品。選擇前，我們也會依照你的需求與預算一起討論最適合的安排。</p>
                    </div>
                      </div>
                  </div>
                </div>
                    <!--QA4-->
                <div class="accordion-item mb-md-5 mb-4 overflow-hidden shadow">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button
                      class="accordion-button collapsed   fs-md-5 fs-6 fw-bold text-natural-50 d-flex align-items-md-center align-items-start"
                      type="button" data-bs-toggle="collapse" data-bs-target="#QA4"
                      aria-expanded="true" aria-controls="QA4">
                      <span class="me-2 fs-md-20 fs-5 lh-1">Q.</span>
                      <p>一對一諮詢是怎麼進行的？需要準備什麼嗎？</p>
                    </button>
                  </h2>
                  <div id="QA4" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                     
                    <div class="accordion-body p-5 pt-0">
                      <p class="border-top-dashed mb-4"></p>
                      <div class=" d-flex ">
                      <p class="fs-5 fs-md-20 text-primary fw-bold me-2 lh-1">A.</p>
                      <p class="fs-14">WorkWay 對每一位學員負責。如果你在第一次完整諮詢結束後，覺得方向不符合期待，可在 3 日內申請退款。我們也提供一次更換顧問的機會，確保你找到最適合自己的陪伴者。</p>
                    </div>
                      </div>
                  </div>
                </div>
                     <!--QA5-->
                <div class="accordion-item mb-md-5 mb-4 overflow-hidden shadow">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button
                      class="accordion-button collapsed   fs-md-5 fs-6 fw-bold text-natural-50 d-flex align-items-md-center align-items-start"
                      type="button" data-bs-toggle="collapse" data-bs-target="#QA5"
                      aria-expanded="true" aria-controls="QA5">
                      <span class="me-2 fs-md-20 fs-5 lh-1">Q.</span>
                      <p>我現在還不確定自己要什麼，也可以預約諮詢嗎？</p>
                    </button>
                  </h2>
                  <div id="QA5" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                     
                    <div class="accordion-body p-5 pt-0">
                      <p class="border-top-dashed mb-4"></p>
                      <div class=" d-flex ">
                      <p class="fs-5 fs-md-20 text-primary fw-bold me-2 lh-1">A.</p>
                      <p class="fs-14">很多人來找 WorkWay 時，其實也處於迷惘期。我們的一對一諮詢設計，就是從理解你的人生目標、價值觀與現實條件開始，逐步協助你釐清想要的生活方式與可能路徑。你不需要有答案，只需要願意開始對話。</p>
                    </div>
                      </div>
                  </div>
                </div>
             
               

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--諮詢方式-->
          <%- include('./layout/consult'); -%>
    </main>


    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        const swiper1 = new Swiper(".mySwiper", {
          slidesPerView: 1.1,
          spaceBetween: 16,
          breakpoints: {
            480: {
              slidesPerView: 2.8,
              spaceBetween: 24
            },
          },
        });</script>
      <script>
        const swiper2 = new Swiper(".serveSwiper", {
          slidesPerView: 1.1,
          spaceBetween: 16,
          breakpoints: {
            768: {
              slidesPerView: 2,
              spaceBetween: 24
            },
               992: {
              slidesPerView: 4,
              spaceBetween: 24
            },
          },
          autoplay: {
            delay: 3000, // 每張間隔時間 (毫秒)
            disableOnInteraction: false, // 使用者操作後是否停止 (false = 不停止)
          },
          loop: true
        });
      </script>



</body>

</html>